.cls-2 {
  fill: #6a8c54;
}

.cls-3,
.cls-45 {
  fill: #333141;
}

.cls-3 {
  opacity: 0.32;
  mix-blend-mode: hard-light;
}

.cls-4 {
  fill: #4c7b58;
}

.cls-5 {
  fill: #b4b056;
}

.cls-6 {
  fill: #67a28e;
}

.cls-7 {
  fill: #91af61;
}

.cls-8 {
  fill: #41587f;
}

.cls-9 {
  fill: #4f2150;
}

.cls-10 {
  fill: #3380a3;
}

.cls-11 {
  fill: #7dafbc;
}

.cls-12,
.cls-29 {
  fill: #fff;
  mix-blend-mode: overlay;
}

.cls-12 {
  opacity: 0.14;
}

.cls-13 {
  fill: #695e7e;
}

.cls-14 {
  fill: #b7b1c3;
}

.cls-15 {
  fill: #8a81aa;
}

.cls-16 {
  fill: #4a9ecc;
}

.cls-17 {
  fill: #be3c5e;
}

.cls-18 {
  fill: #bf6279;
}

.cls-19 {
  fill: #ced13d;
}

.cls-20 {
  fill: #c1b62d;
}

.cls-21 {
  fill: #c1562d;
}

.cls-22 {
  fill: #dbdb37;
}

.cls-23 {
  fill: #ccba89;
}

.cls-24 {
  fill: #d39576;
}

.cls-25 {
  fill: #cc8160;
}

.cls-26 {
  fill: #c6962a;
}

.cls-27 {
  fill: #d38a62;
}

.cls-28 {
  fill: #ddd3ac;
}

.cls-29 {
  opacity: 0.38;
}

.cls-30 {
  fill: #af7623;
}

.cls-31 {
  fill: #994867;
}

.cls-32 {
  fill: #d47e75;
}

.cls-33 {
  fill: #b54d63;
}

.cls-34 {
  fill: #c86629;
}

.cls-35 {
  fill: #bc672e;
}

.cls-36 {
  fill: #e2c5db;
}

.cls-37 {
  fill: #cda988;
}

.cls-38 {
  fill: #d86464;
}

.cls-39 {
  fill: #9e4432;
}

.cls-40 {
  fill: #c47878;
}

.cls-41 {
  fill: #eda9a9;
}

.cls-42 {
  fill: #505456;
}

.cls-43 {
  fill: #bababa;
}

.cls-44 {
  fill: #ccd4d4;
}